.event {
    border-radius: 5px;
    background-color: var(--bg-alt);
    padding: 1rem;

    &__title {
        font-weight: bold;
    }

    &__address {
        display: flex;
        flex-direction: column;
    }

    &__link {
        color: var(--text-secondary);
    }
}