.event {
    border-radius: 5px;
    background-color: var(--bg-alt);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        font-weight: bold;
    }

    &__details {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__address {
        display: flex;
        flex-direction: column;

        time {
            white-space: nowrap;
        }
    }

    &__link {
        color: var(--text-secondary);
    }

    &__calendar {
        cursor: pointer;
        --logo-height: 2rem;
        --logo-width: 2rem;
        align-self: flex-start;
    }
}